---
- name: Install for MacOS
  when: "'Darwin' in ansible_distribution"
  block:
    - name: Install neovim
      package:
        name: "{{ item }}"
      with_items:
        - neovim
        - ripgrep

- name: Install Neovim Ubuntu/Debian
  when: ansible_distribution in ["Ubuntu", "Debian", "Pop!_OS"]
  block:
    - name: Download the latest Neovim AppImage
      get_url:
        url: https://github.com/neovim/neovim/releases/download/nightly/nvim-linux-x86_64.appimage
        dest: /tmp/nvim.appimage
        
    - name: Ensure nvim.appimage is executable
      file:
        path: /tmp/nvim.appimage
        mode: '0755'
        state: file

    - name: Extract AppImage
      command: /tmp/nvim.appimage --appimage-extract
      args:
        chdir: /tmp
        creates: /tmp/squashfs-root
        
    - name: Move extracted nvim to /usr/local/bin
      command: cp -r /tmp/squashfs-root/usr /usr/local/
      become: yes
      
    - name: Create nvim symlink
      file:
        src: /usr/local/bin/nvim
        dest: /usr/bin/nvim
        state: link
      become: yes
      
    - name: Download ripgrep .deb package
      get_url:
        url: https://github.com/BurntSushi/ripgrep/releases/download/14.1.0/ripgrep_14.1.0-1_amd64.deb
        dest: /tmp/ripgrep_14.1.0-1_amd64.deb
        
    - name: Install ripgrep .deb package
      apt:
        deb: /tmp/ripgrep_14.1.0-1_amd64.deb
        state: present
      become: yes